<button class="btn btn-primary float-right btn-block btn-raised shadow-z-2" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  Add Time Table
</button>


<div class="row text-left" id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Timetable</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form" [formGroup]="timetableform" (ngSubmit)="postdata()">
            <div class="form-body">
              <h4 class="form-section"></h4>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="font-small-3 text-center pl-4 text-primary text-uppercase">From_Time</label>
                      <ngb-timepicker formControlName="From_Time"></ngb-timepicker>
                    </div>

                    <div class="col-md-6">
                      <label class="font-small-3 text-center pl-4 text-primary text-uppercase">To_Time</label>
                      <ngb-timepicker formControlName="To_Time"></ngb-timepicker>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">
                  <label class="text-primary text-uppercase" for="userinput1">Select Course</label>
                  <select formControlName="Course_ID" class="form-control">
                    <option *ngFor="let item of courses" value="{{item._id}}">{{item.Course_Name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">
                  <label class="text-primary text-uppercase" for="userinput2">Select Standard</label>
                  <select formControlName="Std_ID" class="form-control">
                    <option *ngFor="let items of standards" value="{{items._id}}">{{items.Name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">
                  <label class="text-primary text-uppercase" for="userinput2">Select Subject</label>
                  <select formControlName="Subject_ID" class="form-control">
                    <option *ngFor="let items of subject" value="{{items._id}}">{{items.Sub_Name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">
                  <label class="text-primary text-uppercase" for="userinput2">Select Division</label>
                  <select formControlName="Division_ID" class="form-control">
                    <option *ngFor="let items of division" value="{{items._id}}">{{items.Division_Name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 mb-2 m-1">

                  <mat-form-field class="pl-1">
                    <mat-label class="font-medium-1">Select Day</mat-label>
                    <mat-select formControlName="Day">
                      <mat-option class="font-medium-1" *ngFor="let item of week" [value]="item">
                        {{item}}
                      </mat-option>

                    </mat-select>
                  </mat-form-field>

                </div>
              </div>

            </div>
            <div class="form-actions left">
              <button type="reset" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <ng2-smart-table [settings]="alertsettings" [source]="tbldata" (deleteConfirm)="onDeleteConfirm($event)"
    (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
</div>