<div class="row text-left">
  <div *ngIf="show" class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Division</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form" [formGroup]="divisionform" (ngSubmit)="postdata()">
            <div class="form-body">
              <h4 class="form-section"></h4>
              <div class="row">
                <div class="form-group col-md-6 mb-2">

                  <label for="Course_ID">Course_ID</label>
                  <select formControlName="Course_ID" class="form-control">
                    <option selected="selected" disabled="true" value="">Select Course</option>
                    <option *ngFor="let item of courses" value="{{item._id}}">{{item.Course_Name}}</option>
                  </select>
                  <label *ngIf="is_submtted && getformvalue.Course_ID.errors?.required" class="text-danger">
                    Course is
                    required</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mb-2">
                  <label for="Std_ID">Standard_ID</label>
                  <select formControlName="Std_ID" class="form-control">
                    <option selected="selected" disabled="true" value="">Select Standard</option>
                    <option *ngFor="let items of standards" value="{{items._id}}">{{items.Name}}</option>
                  </select>
                  <label *ngIf="is_submtted && getformvalue.Std_ID.errors?.required" class="text-danger">
                    Standard is
                    required</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mb-2">
                  <label for="Division_Name">Division</label>
                  <input type="text" formControlName="Division_Name" id="Division_Name" class="form-control border-primary"
                    placeholder="Division Name">
                    <label *ngIf="is_submtted && getformvalue.Division_Name.errors?.required" class="text-danger">
                      Division is
                      required</label>
                </div>
              </div>
            </div>
            <div class="form-actions left">
              <button type="reset" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Confirm Action Starts-->

<section id="action">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="overflow : hidden">
          <h4 class="card-title" style="float:left;">Manage Division</h4>
          <a display="inline" style="float:right;" (click)="show = !show" href="javascript:void(0)"
            class="btn btn-raised mr-1 shadow-z-2 btn-primary">Add New Division</a>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="table-responsive">
              <ng2-smart-table [settings]="alertsettings" [source]="tbldata" (deleteConfirm)="onDeleteConfirm($event)"
                (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Confirm Action Ends-->