// Login Page
#login {
  background-image: url('../../assets/img/light-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
  }

  .login-btn {
    .btn.btn-outline-primary {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
  }

  .recover-pass {
    button.btn.btn-primary {
      color: #fff !important;
    }
  }


}
