@import "../../../assets/sass/scss/gradient-variables";

.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}
.line {
  align-items: center;
  margin: 1em -1em;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.glow {
  &:before,
  &:after {
    height: 6px;
    -webkit-filter: blur(5px);
    border-radius: 5px;
  }
  
  &:before {
    background: linear-gradient(to right, blue, hotpink);
  }
  
  &:after {
    background: linear-gradient(to left, blue, hotpink);
  }
}
.corners { 
  // background: #FFF;
  // margin: 50px auto;
  // position: relative;
  font-family:arial; font-size:14px; font-weight:bold; padding:10px; padding-top:40px;
  -webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
     -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
          box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
  background: #e6e6e6;
  content: '';
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  -webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
     -moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
          box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
}
.corners:after {
  left: -50px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.corners:before {
  right: -50px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

//Line Chart 1 CSS Ends
