<button class="btn btn-primary gradient-indigo-dark-blue float-right btn-block btn-raised shadow-z-2" (click)="isCollapsed = !isCollapsed"
	[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
	Add Test
</button>

<div class="row text-left" id="collapseExample" [ngbCollapse]="isCollapsed">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Add Test</h4>
			</div>
			<div class="card-content">
				<div class="card-body">

					<form class="form" [formGroup]="productForm" (ngSubmit)="postdata()">
						<div class="form-body">

							<h4 class="form-section"></h4>

							<div class="row">
								<div class="form-group col-md-5 mb-2 m-1">
									<label class="text-primary text-uppercase" for="Course_ID">Select Course</label>
									<select formControlName="Course_ID" class="form-control" (change)="GetsubjectBuCourse($event.target.value)">
										<option *ngFor="let items of course" value="{{ items._id }}">
											{{ items.Course_Name }}</option>
									</select>
									<label *ngIf="submitted && getformvalue.Course_ID.errors?.required"
										class="text-danger">Course is required</label>

								</div>

								<div class="form-group col-md-5 mb-2 m-1">
									<label class="text-primary text-uppercase" for="Subject_ID">Select Subject</label>
									<select formControlName="Subject_ID" class="form-control">
										<option *ngFor="let item of subject" value="{{ item._id }}">
											{{ item.Sub_Name }}</option>
									</select>
									<label *ngIf="submitted && getformvalue.Subject_ID.errors?.required"
										class="text-danger">Subject is required</label>
								</div>
							</div>

							<label class="text-primary text-uppercase" for="Test_Name">Test_Name: </label>

							<input class="form-control" formControlName="Test_Name" />
							<label *ngIf="submitted && getformvalue.Test_Name.errors?.required" class="text-danger">Test
								Name is required</label>

								<div class="row text-center m-4">
									<button type="button" class="btn w-100 gradient-blue-indigo text-white btn-md text-white mt-1"
									(click)="AddQuestions()">
									<i class="fa fa-check-square-o mr-2"></i>Add More Questions</button>
								</div>
							<h4 class="text-center m-4 card-title">Questions Details</h4>
					
							<div formArrayName="ArrQuestions">
	
								<div *ngFor="let item of sellingPoints.controls; let pointIndex=index"
									[formGroupName]="pointIndex">
									<div class="row">
										<div class="form-group col-md-5">
											<label class="text-primary text-uppercase"> Quetion : </label>
											<input class="form-control" formControlName="Question" />
											<label
												*ngIf="submitted && sellingPoints.controls[pointIndex].get('Question').errors?.required"
												class="text-danger">Question is required</label>
										</div>

										<div class="form-group col-md-5" style="margin-top: auto;margin-bottom: auto;">
											<button type="button" class="btn btn-raised btn-danger btn-sm"
												(click)="RemoveQuestions(pointIndex)">
												<i class="ft-x"></i> Remove
											</button>
										</div>
									</div>


									<div class="row">
										<div class="form-group col-md-2 ">
											<label class="text-primary text-uppercase">
												Ans A: <input class="form-control" formControlName="AnsA" />
												<label
													*ngIf="submitted && sellingPoints.controls[pointIndex].get('AnsA').errors?.required"
													class="text-danger">AnsA is required</label>

												<input type="radio" value="1" class="mt-1" formControlName="Correct_Ans" />

											</label>
										</div>
										<div class="form-group col-md-2 ">
											<label class="text-primary text-uppercase">
												Ans B: <input class="form-control" formControlName="AnsB" />
												<label
													*ngIf="submitted && sellingPoints.controls[pointIndex].get('AnsB').errors?.required"
													class="text-danger">AnsB is required</label>
												<input type="radio" value="2" class="mt-1" formControlName="Correct_Ans" />

											</label>
										</div>
									</div>

									<div class="row">
										<div class="form-group col-md-2 ">
											<label class="text-primary text-uppercase">
												Ans C: <input class="form-control" formControlName="AnsC" />
												<label
													*ngIf="submitted && sellingPoints.controls[pointIndex].get('AnsC').errors?.required"
													class="text-danger">AnsC is required</label>
												<input type="radio" value="3" class="mt-1" formControlName="Correct_Ans" />

											</label>
										</div>
										<div class="form-group col-md-2 ">
											<label class="text-primary text-uppercase">
												Ans D: <input class="form-control" formControlName="AnsD" />
												<label
													*ngIf="submitted && sellingPoints.controls[pointIndex].get('AnsD').errors?.required"
													class="text-danger">AnsD is required</label>
												<input type="radio" value="4" class="mt-1" formControlName="Correct_Ans" />

											</label>
										</div>
									</div>
									<label
										*ngIf="submitted && sellingPoints.controls[pointIndex].get('Correct_Ans').errors?.required"
										class="text-danger">Please Select Alteast One Answer</label>
								</div>
							</div>
							
							<div class="form-actions left">
								<button type="reset" class="btn btn-raised btn-warning mr-1"
									(click)="isCollapsed = !isCollapsed">
									<i class="ft-x"></i> Cancel
								</button>
								<button type="submit" class="btn btn-raised btn-primary">
									<i class="fa fa-check-square-o"></i> Save
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row text-left">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-content">
				<div class="card-body">
					<div class="table-responsive">
						<ng2-smart-table [settings]="alertsettings" (deleteConfirm)="onDeleteConfirm($event)"
							(editConfirm)="onSaveConfirm($event)" [source]="testData"></ng2-smart-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
