<div #wrapper class="wrapper">
  <div
    #appSidebar
    appSidebar
    class="app-sidebar"
    data-active-color="white"
    [attr.data-background-color]="bgColor"
  >
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" #sidebarBgImage></div>
  </div>
  <app-navbar></app-navbar>
  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <app-customizer (directionEvent)="getOptions($event)"></app-customizer>
</div>
