<div class="row text-left">
  <div *ngIf="show" class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Course</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form" [formGroup]="courseform" (ngSubmit)="postdata()">
            <div class="form-body">
              <h4 class="form-section"></h4>
              <div class="row">
                <div class="form-group col-md-6 mb-2">
                  <label for="Course_Name">Add Course</label>
                  <input type="text" formControlName="Course_Name" id="Course_Name" class="form-control border-primary"
                    placeholder="Course Name">
                  <label *ngIf=" is_submtted &&
                                 getformvalue.Course_Name.errors
                                  ?.required" class="text-danger">Course Name is required</label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 mb-2">
                  <label for="Duration">Duration</label>
                  <input type="text" formControlName="Duration" id="Duration" class="form-control border-primary"
                    placeholder="Duration">
                  <label *ngIf="is_submtted &&getformvalue.Duration.errors?.required" class="text-danger">
                  Duration is
                    required</label>
                </div>
              </div>
            </div>
            <div class="form-actions left">
              <button type="reset" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="card">
    <div class="card-header" style="overflow : hidden">
      <h4 class="card-title" style="float:left;">Manage Course</h4>
      <a display="inline" style="float:right;" (click)="show = !show" href="javascript:void(0)"
        class="btn btn-raised mr-1 shadow btn-primary">Add New Course</a>
    </div>
    <div class="card-content">
      <div class="card-body">
        <div class="table-responsive">
          <ng2-smart-table [settings]="alertsettings" [source]="tbldata" (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</section>